*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif !important;
    overflow: hidden;
}

.home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/Homeimg.png);
}