*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif !important;
    scroll-behavior: smooth;
}


.home{
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/Homeimg.png);
}

.homenav li a{
    color: #fff !important;
    text-decoration: none;
}

.homenav li a:hover{
    border-bottom: 2px solid #fff;
}

.scrollspy-custom{
    position: relative;
}

.about-nav{
    position: sticky;
    top: 15px;
}

.about-nav a{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: normal;
}

.about-bread .breadcrumb{
    margin-top: 7rem;
}

.breadcrumb-item{
    color: #2F2F2F;
    text-align: center;
font-size: 1.125rem;
font-weight: 500;
}

.breadcrumb-item a{
    color: #2F2F2F;
    text-align: center;
font-size: 1.125rem;
font-weight: 500;
text-decoration: none;
}

.breadcrumb-item .active{
    color:#DC3F3F !important;
    border-bottom: #DC3F3F 2px solid;
}

.breadcrumb-item a:hover{
    border-bottom: #DC3F3F 2px solid;
}

.list-group-item{
    all:unset !important;
}

.about-nav a{
    display: flex;
    cursor: context-menu !important;
}

.about-nav a i{
    visibility: hidden;
    color: #DC3F3F;
    font-size: 1.5rem;
    margin: 0 0.5rem;

}

.about-nav .active  i{
    visibility: visible;
}

.section-title{
    font-size: 2.1875rem;
    font-weight: 500;
    letter-spacing: 0.03281rem;
    color: #2F2F2F;
    line-height: 112.2%;
}

.red-title{
    color:#DC3F3F;
}

.section-text{
    font-size: 1.125rem;
    font-weight: 400;
    color: #2F2F2F;
    line-height: normal;
    letter-spacing: -0.01125rem;
    font-family: Helvetica, sans-serif;
}

.section-sub-title{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.015rem;
    font-family: Helvetica, sans-serif;
    line-height: normal;
    color: #2F2F2F;
}

/* service */
.service{
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/serviceimg.png);
}

.whitelay{
    background-color: rgba(255,255,255,0.6);
}

.service-title{
    color: #FFF;
font-family: Oswald;
font-size: 2.6875rem;
font-style: normal;
font-weight: 569;
line-height: 112.2%;
letter-spacing: 0.04031rem;
text-align: left;
}

.service-text{
    color: #FFF;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01125rem;
text-align: left;
}

.right-sec form .form-outline .form-control , .form-select{
    color: #a9a9a9 !important;
font-family: Helvetica;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 112.2%;
letter-spacing: 0.015rem;
}


.right-sec form .form-outline .form-control::placeholder{
    color: #a9a9a9 !important   ;
    font-family: Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 112.2%;
    letter-spacing: 0.015rem;
}


.dropdown1  label {
    position: relative;
  }
  
.dropdown1  label::before{
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url('data:image/svg+xml,<svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 12L0.138785 0.749999L14.8612 0.75L7.5 12Z" fill="%23DC3F3F"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
  }

.custom-btn{
    background-color: #DC3F3F !important;
    border: 2px solid #DC3F3F !important;
    color: #2F2F2F !important;
    font-family: Helvetica !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 112.2% !important;
    letter-spacing: 0.015rem !important;
    transition: 280ms ease-in-out !important;
}

.custom-btn:hover{
    background-color: #2F2F2F !important;
    border: 2px solid #2F2F2F !important;
    color: #DC3F3F !important;
}

/* left sec */
.left-sec{
    height: 100vh;
}

.right-sec{
    height: 100vh   ;
}

.service-breadcrumb .breadcrumb-item a{
    color: #fff;
}

@media (max-width:992px){
    .left-sec{
        height: unset;
    }

    .whitelay{
        background-color: rgba(255,255,255,0);
    }

    .right-sec{
        height: unset;
    }
}

@media (max-width:576px){
    .classic .option{
        font-size: 0.8rem !important;
    }

    .right-sec form .form-outline .form-control::placeholder ,.form-select {
        font-size: 0.8rem !important;
    }

    .breadcrumb-item{
        font-size: 1rem;
    }

    .breadcrumb-item a{
        font-size: 1rem;
    }

    .service-title  {
font-size: 1.5rem;
    }

    .service-text{
font-size: 0.8rem;
    }

    .custom-btn{
font-size: 0.8rem !important;

}
}

/* self help section */
.help-title{
    color: #2F2F2F;
text-align: center;
font-family: Helvetica;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.025rem;
}

.help-text{
    color: #2F2F2F;
text-align: center;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01125rem;
}

.red-text{
    color: #DC3F3F;
text-align: center;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.01125rem;
}

.book-title{
    color: #DC3F3F;
text-align: center;
font-family: Helvetica;
font-size: 2.6875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.02688rem;
}

.book-text{
    color: #2F2F2F;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01125rem;
}

@media (max-width:576px){
    .help-title{
        font-size: 1.5rem;
    }
}

.btn-find-more{
    border: solid 2px #DC3F3F;
    background-color: #DC3F3F;
    color: #2F2F2F;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.01125rem;
transition: 280ms ease-in-out;
}

.btn-find-more:hover{
    border: solid 2px #2F2F2F;
    background-color: #2F2F2F;
    color:#DC3F3F;
}

.support-title{
    color: #2F2F2F;
font-family: Oswald;
font-size: 2.6875rem;
font-style: normal;
font-weight: 569;
line-height: 112.2%;
letter-spacing: 0.04031rem;
}

.support-text{
    color: #2F2F2F;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01125rem;
}

.support-subtitle{
    color: #2F2F2F;
font-family: Helvetica;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.00563rem;
}

.support-btn{
    color: #FFF;
text-align: center;
font-family: Oswald;
font-size: 0.875rem;
font-style: normal;
font-weight: 569;
line-height: 129.7%;
background-color: #2F2F2F;
border-radius: 2.5rem;
border: 2px solid #2F2F2F;
transition: 280ms ease-in-out;
}

.support-btn:hover{
    background-color: #FFF;
    color: #2F2F2F
}


.footer{
    background-color: #DC3F3F;
    color: #FFF;
font-family: Helvetica;
font-size: 1.125rem !important;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.01125rem;
}

.icon a i{
    font-size: 3rem;
    color:#fff
}

.footer-list li{
    margin: 2rem 0;
}

.footer-list li a:hover {
    cursor: context-menu;
    border-bottom: 2px solid #FFF;
}

.footer-list2 li{
    margin: 1rem 0;
}

.footer-list2 li a:hover{
    cursor: context-menu;
    border-bottom: 2px solid #fff;
}


@media (max-width:576px){
    .icon a i{
        font-size: 2rem;
    } 
}