*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif !important;
}

.home{
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(img/Homeimg.png);
    overflow: hidden;
}

.homenav li a{
    color: #fff !important;
    text-decoration: none;
}

.homenav li a:hover{
    border-bottom: 2px solid #fff;
}

.scrollspy-custom{
    position: relative;
}

.about-nav{
    position: sticky;
    top: 15px;
}

.about-nav a{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: normal;
}

.breadcrumb{
    margin-top: 7rem;
}

.breadcrumb-item{
    color: #2F2F2F;
    text-align: center;
font-size: 1.125rem;
font-weight: 500;
}

.breadcrumb-item a{
    color: #2F2F2F;
    text-align: center;
font-size: 1.125rem;
font-weight: 500;
text-decoration: none;
}

.breadcrumb-item .active{
    color:#DC3F3F;
    border-bottom: #DC3F3F 2px solid;
}

.list-group-item{
    all:unset !important;
}

.about-nav a{
    display: flex;
}

.about-nav a i{
    visibility: hidden;
    color: #DC3F3F;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.about-nav .active  i{
    visibility: visible;
}

.section-title{
    font-size: 2.1875rem;
    font-weight: 500;
    letter-spacing: 0.03281rem;
    color: #2F2F2F;
    line-height: 112.2%;
}

.red-title{
    color:#DC3F3F;
}

.section-text{
    font-size: 1.125rem;
    font-weight: 400;
    color: #2F2F2F;
    line-height: normal;
    letter-spacing: -0.01125rem;
    font-family: Helvetica, sans-serif;
}

.section-sub-title{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.015rem;
    font-family: Helvetica, sans-serif;
    line-height: normal;
    color: #2F2F2F;
}